<!-- app/views/products/index.html.erb -->
<h1>商品一覧</h1>
<ul>
  <% @products.each do |t| %>
    <li>
      <%= t.name %> - <%= t.price %>
      <%= link_to '削除', "/products/#{t.id}", data: { turbo_method: :delete } %>
      <%= link_to 'カートに追加', cart_items_new_path(product_id: t.id) %>
    </li>
  <% end %>
</ul>

<%= link_to '商品の新規登録', new_product_path %>
<%= link_to 'カートを見る', carts_show_path %>